@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: "Playfair Display", serif;
}

button {
    padding: 1rem;
    border: 1px solid white;
    transition:
        background-color 0.2s ease,
        border-color 0.2s ease;
}

button:hover {
    background-color: white;
    color: black;
}

.gradient {
    font-weight: bold;
    background: -webkit-linear-gradient(45deg, rgba(230,164,64,1) 0%, rgba(148,18,187,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}